<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer>
      const copyContent = async () => {
        const $textToCopy = document.getElementById('webhook-url').value;
        const $defaultMessage = document.getElementById('default-message');
        const $successMessage = document.getElementById('success-message');
        try {
          await navigator.clipboard.writeText($textToCopy);
          $defaultMessage.classList.add('hidden');
          $successMessage.classList.remove('hidden');

          // reset to default state
          setTimeout(() => {
            $defaultMessage.classList.remove('hidden');
            $successMessage.classList.add('hidden');
          }, 2000);
        } catch (err) {
          console.error('Failed to copy: ', err);
        }
      };
    </script>
    <title>Scrobblex</title>
  </head>
  <body>
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
          <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">
            Scrobb<span class="text-orange-500">lex</span>
          </h2>

          <p class="mb-4 font-medium">
            <span class="text-orange-500">Plex</span> provides
            <a class="underline" href="https://support.plex.tv/articles/115002267687-webhooks/">webhook</a> integration
            for all <span class="text-orange-500">Plex</span> Pass subscribers, and users of their servers. A webhook is
            a request that the <span class="text-orange-500">Plex</span> application sends to third party services when
            a user takes an action, such as watching a movie or episode.
          </p>
          <p class="mb-4 font-medium">
            You can ask <span class="text-orange-500">Plex</span> to send these webhooks to this tool, which will then
            log those plays in your <span class="text-red-600">Trakt</span> account.
          </p>

          <h3 class="mt-12 mb-4 text-3xl tracking-tight font-bold text-gray-900 dark:text-white">
            Step 1: Setup a <span class="text-red-600">Trakt</span> application
          </h3>
          <p class="mb-4 font-medium">
            Go to your
            <a class="underline decoration-red-600" href="https://trakt.tv/"><span class="text-red-600">Trakt</span></a>
            account and click on <a class="underline" href="https://trakt.tv/oauth/applications">Your API Apps</a> and
            create a new application.
          </p>
          <p class="mb-4 font-medium">You need to use the following information:</p>
          <dl class="max-w-md divide-y divide-gray-200 dark:text-white dark:divide-gray-700 mb-4">
            <div class="flex flex-col pb-3">
              <dt class="mb-1 text-sm">Name</dt>
              <dd class="font-medium">Scrobblex <span class="font-light">(or anything you like, really)</span></dd>
            </div>
            <div class="flex flex-col py-3">
              <dt class="mb-1 text-sm">Redirect uri & Javascript (cors) origins</dt>
              <dd class="font-medium"><%= self_url %>/authorize</dd>
            </div>
            <div class="flex flex-col pt-3">
              <dt class="mb-1 text-sm">Permissions</dt>
              <dd class="font-medium">
                <ul class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400">
                  <li class="flex items-center">
                    <svg
                      class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                      />
                    </svg>
                    /scrobble
                  </li>
                  <li class="flex items-center">
                    <svg
                      class="w-3.5 h-3.5 me-2 text-gray-500 dark:text-gray-400 flex-shrink-0"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                      />
                    </svg>
                    /checkin (optional)
                  </li>
                </ul>
              </dd>
            </div>
          </dl>
          <p class="mb-4 font-medium">
            This wil give you the Client ID and Client Secret you need to provide to
            <span class="text-black">Scrobb</span><span class="text-orange-500">lex</span>.
          </p>

          <% if (authorized) { %>
          <h3 class="mt-12 mb-4 text-3xl tracking-tight font-bold text-gray-900 dark:text-white">
            Step 2: Authorize with <span class="text-red-600">Trakt</span>
          </h3>
          <p class="mb-4 font-light">Nice!</p>

          <% } else { %>
          <h3 class="mt-12 mb-4 text-3xl tracking-tight font-bold text-gray-900 dark:text-white">
            Step 2: Authorize with <span class="text-red-600">Trakt</span>
          </h3>
          <p class="mb-4 font-medium">
            This will take you to <span class="text-red-600">Trakt</span>, then they'll send you back here.
            <span class="font-light">(Hopefully!)</span>
          </p>
          <a
            class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-orange-600 dark:hover:bg-orange-700 focus:outline-none dark:focus:ring-orange-800"
            href="https://trakt.tv/oauth/authorize?client_id=<%= client_id %>&redirect_uri=<%= self_url %>/authorize&response_type=code"
            >Authorize</a
          >
          <% } %>

          <h3 class="mt-12 mb-4 text-3xl tracking-tight font-bold text-gray-900 dark:text-white">
            Step 3: Configure <span class="text-orange-500">Plex</span>
          </h3>
          <p class="mb-4 font-medium">
            In the <span class="text-orange-500">Plex</span> settings, find Webhooks. Add a webhook with the following
            link:
          </p>
          <div class="grid grid-cols-8 gap-2 w-full max-w-[23rem]">
            <label for="webhook-url" class="sr-only">Webhook URL</label>
            <input
              id="webhook-url"
              type="text"
              class="col-span-6 bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-orange-500 dark:focus:border-orange-500"
              value="<%= self_url %>/api"
              disabled
              readonly
            />
            <button
              data-copy-to-clipboard-target="webhook-url"
              class="col-span-2 text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm w-full sm:w-auto py-2.5 text-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800 items-center inline-flex justify-center"
              onclick="copyContent()"
            >
              <span id="default-message">Copy</span>
              <span id="success-message" class="hidden inline-flex items-center">
                <svg
                  class="w-3 h-3 text-white me-1.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 16 12"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5.917 5.724 10.5 15 1.5"
                  />
                </svg>
                Copied!
              </span>
            </button>
          </div>

          <h3 class="mt-12 mb-4 text-3xl tracking-tight font-bold text-gray-900 dark:text-white">Step 4: Enjoy</h3>
          <p class="mb-4 font-medium">You're done! Any device, any server, your plays will be logged.</p>
        </div>
      </div>
    </section>
  </body>
</html>
